* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #ebebf2;
  /* overflow-x: hidden; */
}
.AddCart {
  position: absolute;
  top: 23%;
  left: 83%;
  z-index: 10;
}
